<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/Styles/header.css" />
</head>

<body>
    <nav class="NavBarBanner">
        <img src="/Public/XiaoY-circular.png" class="ProfileImage"
            onclick="window.open('https://github.com/zibuyin')" />
        <ul class="NavBarList">
            <li class="NavBarListItem"><a href="/index.html" target="_top">Home</a></li>
            <li class="NavBarListItem"><a href="/Components/projects.html" target="_top">Projects</a></li> <!-- TODO -->
            <li class="NavBarListItem"><a href="/Components/contact.html" target="_top">Contact</a></li>
            <li class="NavBarListItem"><a href="/Components/socials.html" target="_top">Socials</a></li> <!-- TODO -->

        </ul>
    </nav>


</body>

</html>