html,
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Navigation bar */
.NavBarBanner {
  display: flex;
  background-color: rebeccapurple;
  height: 55px;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
}

.ProfileImage {
  /* Rescale image to fit */
  width: 40px;
  border-radius: 50%;
  padding-left: 10px;
  cursor: pointer;


  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* .ProfileImage:active {
  transition: 0.3s ease;
  width: 200px;
  margin-top: 160px;
  rotate: 360deg;

} */

/* The list... */
.NavBarList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: rebeccapurple;
}

/* The Container of the Hrefs */
.NavBarListItem {
  float: left;
}

/* Hrefs */
.NavBarListItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* Hovering the Hrefs */
a:hover {
  background-color: rgb(76, 38, 114);
  transition: background-color 0.3s;
}